[include]
path = ~/.config/gitconfig/user
path = ~/.config/gitconfig/core
path = ~/.config/gitconfig/alias
path = ~/.config/gitconfig/tools
path = ~/.config/gitconfig/ui
path = ~/.config/gitconfig/extras
